'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'JSX'
        'submenu': [
          {
            'label': 'RUN'
            'command': 'jsx:run'
          }
        ]
      }
    ]
  }
]
